<mat-card *ngIf="user" class="users">
    <mat-card-content>
        <h2>
            <span>Nome: </span>{{user.name | uppercase}}
        </h2>

        <h2>Detalhes</h2>

        <div>
            <span>Username: </span>{{user.username}}
        </div>

        <div>
            <span>Role: </span>{{user.role}}
        </div>
    </mat-card-content>

    <mat-form-field>
        <mat-label>Password:</mat-label>
        <input matInput type="password" [(ngModel)]="password" placeholder="Password" required/>
    </mat-form-field>

    <br>

    <button mat-raised-button color="primary" (click)="updateUser()"> Guardar </button>
</mat-card>