<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utilizador</title>
</head>
<body>
            
    <h>Id</h>
    <%= user._id%>
     <h1>Nome</h1>
     <p><%=user.name%></p>
     <h1>Codigo Saude</h1>
     <p><%=user.username%></p>
    <h1>Tipo</h1>
    <p><%= user.role %> </p>
</body>
</html>