<mat-accordion multi="true" *ngIf="tests.length > 0">
  <mat-expansion-panel *ngFor="let test of tests">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{test._id}}
      </mat-panel-title>

      <mat-panel-description>
        {{test.nomeUtente}}
      </mat-panel-description>

    </mat-expansion-panel-header>

        <mat-action-row>
          <button *ngIf="!test.dataPrimeiroTeste"   mat-button color="warn" (click)="scheduleTest(test._id)">Agendar Teste</button>
          <button *ngIf="test.dataPrimeiroTeste || test.dataSegundoTeste" mat-button color="primary" (click)="resultFirst(test._id)">Resultados</button>
<!--           <button *ngIf="test.dataSegundoTeste || test.dataSegundoTeste" mat-button color="primary" (click)="resultSecond(test._id)">Segundo Resultado</button>
 -->        </mat-action-row>

  </mat-expansion-panel>
</mat-accordion>
