.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: lightblue;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
}

a {
    color: darkslategray;
    text-decoration: none;
    padding: 10px;
}

a.is-selected {
    color: #111;
    text-decoration: underline;
}

.aside {
    display: flex;
}

.image {
    margin-top: 10px;
}

.options {
    margin-top: 10px;
}

.options .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .options a:not(:first-child) {
        display: none;
    }
    .options a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 900px) {
    div .options.responsive {
        position: relative;
    }
    .options.responsive.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .options.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}