<mat-card>
  <form (submit)="login(loginForm)" #loginForm="ngForm">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input  matInput name="username"  minlength="9" ngModel  placeholder="Username"  #username="ngModel" required>
      <mat-hint>{{username.value.length}} / 9</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input type="password" name="password" ngModel matInput placeholder="Password" #password="ngModel" required>
      <mat-error *ngIf="password.invalid">Please enter a valid password.</mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary">Login</button>
  </form>
</mat-card>
