<h2>Utilizadores</h2>
<app-user-list [users]="users"></app-user-list>


<!--
<mat-card>
    <form>
        <mat-form-field class="example-full-width">
            <mat-label>ID</mat-label>
            <input matInput type="text" [(ngModel)]="id" name="id">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="getUser()">Procurar</button>
        <button mat-raised-button color="primary" (click)="deleteUser()">Eliminar</button>
    </form>

    <div *ngIf="user" class="users">
        <h2><span>Nome: </span>{{user.name | uppercase}}</h2>
        <h2>Detalhes</h2>
        <div><span>Username: </span>{{user.username}}</div>
        <div><span>Role: </span>{{user.role}}</div>
        <br>
    </div>
</mat-card>-->

<!--     <app-user-detail [user._Id]="id"></app-user-detail>
 -->
<!-- <app-user-edit></app-user-edit>
 -->
