:host {
    display: block;
    margin-top: 1rem;
}

mat-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 90px;
    box-sizing: border-box;
}

mat-form-field,
.header {
    padding: 10px;
}

h2 {
    padding-left: 15px;
}

.pie{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 700px;
  align-content: center;
}
