<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Inicial</title>
</head>
<body>
    <form action='' method="post">
    <p>Nome</p>
    <input type="text" name="name" id="name">
    <p>Numero Saude</p>
    <input type="number" name="username" id="username">
    <p>Password</p>
    <input type="password" name="password" id="password">
    <p>Tipo Utilizador</p>
    <input type="text" name="role" id="role">
    <br>
    <input type="submit" value="Registar">
    </form>

</body>
</html>