<header class="header">
<div class="aside">
		<div>Logo</div>
		<div>
      <a *ngIf="!userIsAuthenticated" mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
      <a *ngIf="!userIsAuthenticated" mat-button routerLink="/signup" routerLinkActive="mat-accent">Sign Up</a>
      <a *ngIf="userIsAuthenticated" mat-button routerLink="/admin/show" routerLinkActive="mat-accent">Detalhes Utilizador</a>
      <a  *ngIf="userIsAuthenticated" mat-button routerLink="/user/show/{{user._id}}" routerLinkActive="mat-accent">Detalhes</a>
      <a  *ngIf="!userIsAuthenticated" mat-button routerLink="/admin/updatepass/{{user._id}}" routerLinkActive="mat-accent">Editar Admin</a>
      <a mat-button routerLink="/user/show/{{user._id}}" routerLinkActive="mat-accent">Detalhes</a>
      <a mat-button routerLink="/technic/update/{{user._id}}" routerLinkActive="mat-accent">Editar</a>
	    <a *ngIf="!userIsAuthenticated" routerLink="/covtests" routerLinkActive="is-selected">Pedir Teste</a>
		</div>
	</div>
	<div>
		<span *ngIf="user">{{user.username}}</span>
		<button *ngIf="!userIsAuthenticated" (click)="onLogout()">Logout</button>
	</div>
</header>
