<div>
  <h2>Create</h2>
  <div>
      <label>Name:
        <input type="text" [(ngModel)]="userData.name" placeholder="User Name" required/>
        </label><br>
        <label>Username:
        <input type="number" [(ngModel)]="userData.username" placeholder="Username" required/>
        </label><br>
        <label>Password:
        <input type="password" [(ngModel)]="userData.password" placeholder="Password" required/>
        </label><br>
        <label>Tipo:
        <input type="text" [(ngModel)]="userData.role" placeholder="Role" required/>
        </label><br>
      </div>
        <button mat-raised-button color="primary" (click)="createUser()">Save</button>
</div>
