<div>
  <h2>Testes Por Dia</h2>

  <mat-card>
      <label>Data:
          <input type="date" name="data" [(ngModel)]="data" placeholder="FirstDate"/>
      </label><br><br>

      <button mat-raised-button color="primary" (click)="testsData()">Save</button>
  </mat-card>
  <div *ngIf="result">
    <mat-card>Testes: {{result}}</mat-card>
  </div>
  <div *ngIf="infected">
    <mat-card>Infetados: {{infected}}</mat-card>
  </div>
  <div *ngIf="nonInfected">
    <mat-card>Não infetados: {{nonInfected}}</mat-card>
  </div>
  <div *ngIf="total">
    <mat-card>Testes realizados: {{total}}</mat-card>
  </div>

  <mat-card>
    <form>
        <mat-form-field class="example-full-width">
            <mat-label>ID</mat-label>
            <input matInput type="text" [(ngModel)]="id" name="id">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="getTotalUser()">Procurar</button>
    </form>
</mat-card>
<div *ngIf="totalUser">
  <mat-card>Testes realizados por {{id}} : {{totalUser}}</mat-card>
</div>

</div>
